In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
import time
from sklearn.linear_model import ElasticNet
from datetime import datetime
from scipy import stats
from scipy.stats import norm, skew #for some statistics
import warnings
def ignore_warn(*args, **kwargs):
    pass
warnings.warn = ignore_warn #ignore annoying warning (from sklearn and seaborn)

import time
from datetime import datetime

In [2]:
# set the options about displays
pd.set_option('display.max_rows', 5000)
pd.set_option('display.max_columns', 1000)
pd.set_option('display.width', 1000)
pd.set_option('display.float_format', lambda x: '%.3f' % x)
pd.set_option('max_info_columns', 1001)

In [3]:
train_raw = pd.read_csv('./original/train.csv')
test_raw = pd.read_csv('./original/test.csv')
subway_raw = pd.read_csv('./original/Subways.csv')
school_raw = pd.read_csv('./original/Schools.csv')

In [4]:
train = train_raw.copy()
test = test_raw.copy()
subway = subway_raw.copy()
school = school_raw.copy()

In [5]:
train.shape

(1601458, 25)

In [6]:
test.shape

(3918, 25)

In [7]:
train = train[train['transaction_real_price'] > 60000000]

In [8]:
train = train[train['transaction_real_price'] < 3000000000]

In [9]:
train = train.assign(is_train=True )

In [10]:
test =test.assign(is_train=False )

In [11]:
all_data = pd.concat([train, test], ignore_index=False)

# SCHOOL 만져서 붙이기 

* Elementary school이 있는 법정동에 'elementary' feature를 추가 후 개수 입력   
* Private school이 있는 법정동에 'private' feature를 추가 후 개수 입력

In [12]:
school.head(10)

  school_code  latitude  longitude school_class operation_type highschool_type gender foundation_date  address_by_law
0  S000003511    37.491    127.015   elementary       national             NaN   both       1953.1.31      1165010800
1  S000003563    37.578    127.003   elementary       national             NaN   both       1946.8.22      1111016800
2  S010000737    37.481    127.059   elementary         public             NaN   both       1982.9.20      1168010300
3  S010000738    37.486    127.058   elementary         public             NaN   both      1987.11.17      1168010300
4  S010000741    37.481    127.052   elementary         public             NaN   both      1983.11.30      1168010300
5  S010000742    37.508    127.026   elementary         public             NaN   both      1972.11.23      1168010800
6  S010000743    37.494    127.065   elementary         public             NaN   both        1981.9.9      1168010600
7  S010000744    37.493    127.054   elementary         public             NaN   both       1979.3.27      1168011800
8  S010000745    37.481    127.086   elementary         public             NaN   both        1994.8.5      1168011400
9  S010000746    37.464    127.106   elementary         public             NaN   both      1932.11.25      1168011100

In [13]:
school['elementary']  = school['school_class'].map(lambda x : 1 if x == 'elementary' else 0)

In [14]:
school['operation_type'].unique()

array(['national', 'public', 'private'], dtype=object)

In [15]:
school['private'] = school['operation_type'].map(lambda x : 1 if x == 'private' else 0)

In [16]:
school_m = school.groupby(by = 'address_by_law').sum().reset_index()

In [17]:
school_m.head()

   address_by_law  latitude  longitude  elementary  private
0      1111010100   150.350    507.882           1        0
1      1111011300   112.735    380.901           1        2
2      1111013200    37.576    126.988           1        1
3      1111013400    37.575    126.988           1        0
4      1111014100    37.578    126.983           0        1

In [18]:
aa = school.groupby(by = 'address_by_law').count().reset_index()

In [19]:
a = aa.iloc[:, 0: 2]

In [20]:
school_mm = pd.merge(school_m, a, on='address_by_law', how='left')

In [21]:
school_mm.head(10)

   address_by_law  latitude  longitude  elementary  private  school_code
0      1111010100   150.350    507.882           1        0            4
1      1111011300   112.735    380.901           1        2            3
2      1111013200    37.576    126.988           1        1            1
3      1111013400    37.575    126.988           1        0            1
4      1111014100    37.578    126.983           0        1            1
5      1111014500    37.578    126.982           0        1            1
6      1111014600    37.580    126.986           1        0            1
7      1111014800   112.752    380.962           0        3            3
8      1111016200    37.573    127.003           1        0            1
9      1111016800    75.156    254.007           1        0            2

In [22]:
school_mm['mean_latitude']  = school_mm['latitude'] / school_mm['school_code']
school_mm['mean_longitude']  = school_mm['longitude'] / school_mm['school_code']

In [23]:
school_mm = school_mm.drop(columns=['latitude', 'longitude'])

In [24]:
school_mm = school_mm.rename(columns={'school_code':'num_schools'})

In [25]:
school_mm

     address_by_law  elementary  private  num_schools  mean_latitude  mean_longitude
0        1111010100           1        0            4         37.588         126.970
1        1111011300           1        2            3         37.578         126.967
2        1111013200           1        1            1         37.576         126.988
3        1111013400           1        0            1         37.575         126.988
4        1111014100           0        1            1         37.578         126.983
5        1111014500           0        1            1         37.578         126.982
6        1111014600           1        0            1         37.580         126.986
7        1111014800           0        3            3         37.584         126.987
8        1111016200           1        0            1         37.573         127.003
9        1111016800           1        0            2         37.578         127.003
10       1111016900           1        4            6         37.589         127.001
11       1111017000           0        0            1         37.591         126.996
12       1111017400           2        1            3         37.579         127.014
13       1111018100           0        2            2         37.573         126.962
14       1111018300           0        1            1         37.606         126.969
15       1111018500           1        3            3         37.602         126.955
16       1111018600           1        0            1         37.603         126.961
17       1111018700           1        0            1         37.574         126.960
18       1114012900           1        0            1         37.560         126.987
19       1114013400           0        0            1         37.565         126.997
20       1114014200           2        3            3         37.557         126.988
21       1114014400           1        0            1         37.562         127.002
22       1114016200           6        7           16         37.560         127.014
23       1114016300           0        0            1         37.569         127.017
24       1114016700           1        1            3         37.566         126.972
25       1114016800           0        1            1         37.565         126.970
26       1114017300           0        1            1         37.557         126.967
27       1114017400           1        2            3         37.555         126.963
28       1117010100           2        0            2         37.549         126.979
29       1117010200           1        2            5         37.544         126.984
30       1117010800           0        2            2         37.550         126.964
31       1117011000           1        0            1         37.548         126.964
32       1117011100           1        3            5         37.543         126.969
33       1117011300           1        0            1         37.537         126.965
34       1117011500           1        0            1         37.536         126.951
35       1117011800           0        2            2         37.535         126.954
36       1117011900           1        0            1         37.540         126.961
37       1117012500           1        0            1         37.535         126.972
38       1117012800           1        0            2         37.525         126.966
39       1117012900           1        0            3         37.520         126.976
40       1117013000           2        1            3         37.536         126.992
41       1117013100           1        0            1         37.539         127.005
42       1117013300           1        0            2         37.523         126.992
43       1117013600           0        2            2         37.524         127.000
44       1120010200           2        0            3         37.566         127.028
45       1120010500           2        0            4         37.567         127.040
46       1120010600           1        2            3         37.562         127.045
47       1120010700           3        1            7         37.557         127.038
48       1120010800           1        0            2         37.551         127.034
49       1120010900           1        0            2         37.555         127.024
50       1120011000           1        0            1         37.553         127.020
51       1120011200           2        0            2         37.546         127.020
52       1120011300           2        0            4         37.544         127.012
53       1120011400           2        0            6         37.544         127.045
54       1120011500           2        0            5         37.541         127.057
55       1120011800           1        0            1         37.554         127.070
56       1120012200           1        0            1         37.561         127.054
57       1121510100           4        4            9         37.564         127.087
58       1121510200           1        2            2         37.550         127.087
59       1121510300           3        2            5         37.545         127.091
60       1121510400           3        0            7         37.544         127.101
61       1121510500           7        2           14         37.533         127.080
62       1121510700           2        1            4         37.543         127.078
63       1121510900           2        1            2         37.552         127.073
64       1123010100           0        2            2         37.578         127.025
65       1123010200           1        0            1         37.576         127.029
66       1123010300           2        2            5         37.584         127.037
67       1123010400           4        2            9         37.579         127.058
68       1123010500           3        0            4         37.572         127.052
69       1123010600           4        3            7         37.572         127.072
70       1123010700           1        0            3         37.589         127.050
71       1123010800           3        6            7         37.593         127.052
72       1123010900           2        2            8         37.585         127.067
73       1123011000           1        0            1         37.602         127.064
74       1126010100           7        0           11         37.583         127.088
75       1126010200           1        0            4         37.602         127.090
76       1126010300           2        0            5         37.603         127.082
77       1126010400           3        0            7         37.614         127.082
78       1126010500           4        8           14         37.601         127.104
79       1126010600           6        1            6         37.610         127.097
80       1129000000           0        1            1         37.511         126.835
81       1129010100           1        4            5         37.594         127.004
82       1129010300           4        7            9         37.596         127.021
83       1129010400           0        0            1         37.591         127.008
84       1129010900           1        0            1         37.594         127.013
85       1129011000           1        0            1         37.598         127.014
86       1129011200           0        2            2         37.582         127.012
87       1129011300           1        0            2         37.586         127.014
88       1129012200           1        2            3         37.588         127.024
89       1129012900           1        1            1         37.579         127.024
90       1129013200           1        0            1         37.583         127.017
91       1129013300           4        3            8         37.610         127.006
92       1129013400           3        1            5         37.611         127.019
93       1129013500           2        0            5         37.595         127.037
94       1129013600           2        0            4         37.608         127.034
95       1129013700           0        0            1         37.607         127.048
96       1129013800           5        2            7         37.616         127.049
97       1129013900           2        0            4         37.609         127.065
98       1130510100           7        9           19         37.619         127.024
99       1130510200           3        0            5         37.632         127.038
100      1130510300           4        0            9         37.636         127.014
101      1130510400           0        1            1         37.657         127.011
102      1132000000           1        0            1         37.672         127.040
103      1132010500           6        7           15         37.653         127.027
104      1132010600           5        0            9         37.663         127.035
105      1132010700           9        1           15         37.649         127.045
106      1132010800           2        0            6         37.682         127.045
107      1135010200           6        6           16         37.628         127.055
108      1135010300           7        4           12         37.629         127.086
109      1135010400           3        2            9         37.638         127.071
110      1135010500          17        5           32         37.664         127.061
111      1135010600           9       11           24         37.651         127.074
112      1138010100           1        0            1         37.585         126.896
113      1138010200           2        0            2         37.603         126.930
114      1138010300           5        1            9         37.623         126.928
115      1138010400           2        9           10         37.620         126.911
116      1138010500           3        4            9         37.610         126.911
117      1138010600           2        2            4         37.613         126.924
118      1138010700           4        5            8         37.591         126.922
119      1138010800           1        0            1         37.602         126.914
120      1138010900           3        2            7         37.594         126.906
121      1138011000           1        0            3         37.584         126.906
122      1138011400           5        2           11         37.639         126.929
123      1141010100           1        3            3         37.565         126.963
124      1141010400           1        0            1         37.563         126.966
125      1141010600           1        1            2         37.568         126.963
126      1141010900           0        0            1         37.576         126.953
127      1141011000           2        5            6         37.561         126.953
128      1141011100           4        0            5         37.589         126.948
129      1141011200           1        0            1         37.558         126.948
130      1141011300           1        3            3         37.563         126.945
131      1141011600           1        0            1         37.558         126.934
132      1141011700           1        0            4         37.575         126.935
133      1141011800           3        4            7         37.586         126.932
134      1141011900           1        0            3         37.576         126.909
135      1141012000           2        0            3         37.578         126.919
136      1144010100           2        1            4         37.554         126.957
137      1144010200           1        0            1         37.546         126.954
138      1144010400           1        0            1         37.539         126.950
139      1144010800           1        2            3         37.550         126.945
140      1144010900           2        2            6         37.548         126.948
141      1144011000           1        0            2         37.555         126.939
142      1144011100           1        2            4         37.547         126.936
143      1144011500           1        0            1         37.548         126.927
144      1144012000           1        0            1         37.555         126.925
145      1144012200           1        0            2         37.550         126.913
146      1144012300           2        0            2         37.559         126.902
147      1144012400           0        3            3         37.563         126.919
148      1144012500           4        3            8         37.563         126.911
149      1144012600           1        0            2         37.572         126.904
150      1144012700           3        0            5         37.580         126.885
151      1147000000           1        0            2         37.539         126.850
152      1147010100          14        5           26         37.515         126.857
153      1147010200           7        6           17         37.535         126.876
154      1147010300           8        2           18         37.529         126.834
155      1150010100           3        0            5         37.554         126.871
156      1150010200           8        8           19         37.556         126.853
157      1150010300           8        3           12         37.540         126.849
158      1150010400           4        2           10         37.565         126.853
159      1150010500           1        0            2         37.563         126.822
160      1150010600           4       10           16         37.551         126.831
161      1150010800           2        0            4         37.560         126.816
162      1150010900           6        2           13         37.573         126.811
163      1153010100           2        0            4         37.511         126.882
164      1153010200           7        0           14         37.495         126.886
165      1153010300           1        0            1         37.485         126.884
166      1153010600           5        0            9         37.502         126.858
167      1153010700           4        0            7         37.493         126.850
168      1153010800           3        1            5         37.491         126.836
169      1153010900           0        6            7         37.499         126.828
170      1153011000           1        0            1         37.494         126.826
171      1153011100           1        0            2         37.482         126.837
172      1153011200           0        1            1         37.488         126.823
173      1154510200           9        0           15         37.470         126.900
174      1154510300           9        6           18         37.451         126.909
175      1156000000           1        0            1         37.508         126.907
176      1156010100           1        0            2         37.513         126.908
177      1156010800           1        0            1         37.524         126.904
178      1156011000           2        0            6         37.522         126.931
179      1156011500           1        0            2         37.532         126.899
180      1156011600           1        0            2         37.529         126.907
181      1156011900           1        0            1         37.513         126.898
182      1156012100           1        0            2         37.519         126.895
183      1156012400           1        0            2         37.520         126.886
184      1156012600           0        0            1         37.521         126.883
185      1156012700           2        0            3         37.531         126.892
186      1156012800           1        0            3         37.537         126.896
187      1156013200           5        1           10         37.505         126.912
188      1156013300           5        0            7         37.495         126.901
189      1159010100           1        0            1         37.511         126.941
190      1159010200           3        0            7         37.498         126.945
191      1159010300           1        0            1         37.506         126.953
192      1159010400           2        1            3         37.510         126.953
193      1159010500           3        2            4         37.505         126.962
194      1159010600           0        1            2         37.494         126.979
195      1159010700           6        0           10         37.486         126.970
196      1159010800           3        4           11         37.506         126.928
197      1159010900           2        0            5         37.494         126.916
198      1162000000           0        1            1         37.472         126.951
199      1162010100          10        6           25         37.483         126.950
200      1162010200          11        9           28         37.472         126.926
201      1162010300           1        0            1         37.473         126.974
202      1165010100           5        5           12         37.482         126.991
203      1165010200           2        0            4         37.473         127.040
204      1165010300           3        0            4         37.465         127.023
205      1165010600           2        0            3         37.514         127.010
206      1165010700           5        4           13         37.503         127.001
207      1165010800           6        0           13         37.492         127.017
208      1165010900           1        0            1         37.454         127.061
209      1165011100           0        0            1         37.452         127.055
210      1168010100           2        3            6         37.500         127.048
211      1168010300           6        1           12         37.485         127.061
212      1168010400           2        1            4         37.524         127.045
213      1168010500           2        0            5         37.517         127.055
214      1168010600           4        4           10         37.498         127.060
215      1168010700           1        0            2         37.525         127.028
216      1168010800           2        0            3         37.513         127.033
217      1168011000           1        1            6         37.528         127.031
218      1168011100           2        0            2         37.466         127.098
219      1168011200           2        1            4         37.472         127.100
220      1168011400           4        3            8         37.488         127.082
221      1168011500           2        2            6         37.489         127.096
222      1168011800           2        5            9         37.490         127.046
223      1171000000           1        0            1         37.514         127.095
224      1171010100           6        3           14         37.511         127.083
225      1171010200           3        0            5         37.520         127.104
226      1171010300           3        2            7         37.530         127.117
227      1171010400           2        3            6         37.503         127.114
228      1171010500           1        0            1         37.503         127.105
229      1171010600           1        2            3         37.500         127.095
230      1171010700           4        0            8         37.497         127.124
231      1171010800           3        0            5         37.487         127.125
232      1171010900           3        0            6         37.480         127.135
233      1171011100           4        2           13         37.515         127.129

In [26]:
all_data = pd.merge(all_data, school_mm, on='address_by_law', how='left')

In [27]:
all_data.head(10)

   key  apartment_id  city  transaction_year_month transaction_date  year_of_completion  exclusive_use_area  floor  latitude  longitude  address_by_law  total_parking_capacity_in_site  total_household_count_in_sites  apartment_building_count_in_sites  tallest_building_in_sites  lowest_building_in_sites   heat_type heat_fuel  room_id  supply_area  total_household_count_of_area_type  room_count  bathroom_count front_door_structure  transaction_real_price  is_train  elementary  private  num_schools  mean_latitude  mean_longitude
0    0          5584     1                  200601            11~20                1999              47.430      6    37.586    127.000      1111017100                         163.000                             136                                  1                      8.000                     4.000  individual       gas    91120       65.630                                  46       1.000           1.000             corridor               215000000      True         nan      nan          nan            nan             nan
1    1          5584     1                  200601            11~20                1999              44.370      8    37.586    127.000      1111017100                         163.000                             136                                  1                      8.000                     4.000  individual       gas    91119       61.390                                  10       2.000           1.000             corridor               200000000      True         nan      nan          nan            nan             nan
2    2          5059     1                  200601            11~20                1992              54.700      8    37.581    127.014      1111017400                         902.000                             585                                  5                     14.000                     9.000  individual       gas     8430       72.360                                 201       2.000           1.000             corridor               168000000      True       2.000    1.000        3.000         37.579         127.014
3    3          2816     1                  200601            11~20                1993              64.660     11    37.580    127.012      1111017400                         902.000                             919                                  7                     15.000                    11.000  individual       gas     5839       87.300                                 284       2.000           1.000             corridor               165000000      True       2.000    1.000        3.000         37.579         127.014
4    4          2816     1                  200601            11~20                1993             106.620      7    37.580    127.012      1111017400                         902.000                             919                                  7                     15.000                    11.000  individual       gas     5836      127.740                                 112       4.000           2.000             stairway               280000000      True       2.000    1.000        3.000         37.579         127.014
5    5          2815     1                  200601            11~20                2000              84.920      9    37.575    126.961      1111018700                        1365.000                             964                                 12                     23.000                    10.000  individual       gas     5831      109.880                                 454       3.000           2.000             stairway               415000000      True       1.000    0.000        1.000         37.574         126.960
6    6          2815     1                  200601            11~20                2000              60.000     13    37.575    126.961      1111018700                        1365.000                             964                                 12                     23.000                    10.000  individual       gas     5833       84.330                                 207       3.000           1.000             corridor               267000000      True       1.000    0.000        1.000         37.574         126.960
7    7          9867     1                  200601            11~20                2005              84.760     10    37.559    127.020      1114016200                         652.000                             461                                  9                     23.000                     6.000  individual       gas    11862      104.300                                  82       3.000           2.000             stairway               415000000      True       6.000    7.000       16.000         37.560         127.014
8    8          2818     1                  200601            11~20                1999              84.880     18    37.555    127.014      1114016200                        2091.000                            2282                                 19                     20.000                     8.000  individual       gas     5843      107.650                                 576       3.000           2.000             stairway               310000000      True       6.000    7.000       16.000         37.560         127.014
9    9          2817     1                  200601            11~20                2002              59.940     12    37.550    127.009      1114016200                        4329.000                            5150                                 42                     18.000                    11.000  individual       gas     5842       85.900                                 864       3.000           1.000             corridor               319000000      True       6.000    7.000       16.000         37.560         127.014

# SUBWAY

* 유의하다고 생각되는 subwayline 유무를 dummy변수로 생성(서울 : 1,2,3,4,9,분당,신분당, 부산 : 4호선,동해선)
* transfer line feature 생성

In [28]:
subway.head()

   station_id  latitude  longitude subway_line  address_by_law
0           1    37.556    126.972   1,4,KJ,AP  1114012000.000
1           2    37.566    126.977         1,2  1114016700.000
2           3    37.570    126.983           1  1111012600.000
3           4    37.572    126.992       1,3,5  1111015600.000
4           5    37.571    127.002           1  1111016300.000

In [29]:
subway['subway_line'] = subway['subway_line'].str.split(',')

subway['transfer_subway'] = subway['subway_line'].str.len()

station_g = subway.groupby(by='station_id').mean().reset_index()

In [30]:
station_g.info()

count_line = subway.copy()

def line_distict(arr, line):
    if line in arr :
        dap = 1
    else:
        dap = 0
    return dap

subway['subway_line'][0]

subway['sub_line2'] = subway['subway_line'].map(lambda x : line_distict(x, '2'))
subway['sub_line4'] = subway['subway_line'].map(lambda x : line_distict(x, '4'))
subway['sub_line1'] = subway['subway_line'].map(lambda x : line_distict(x, '1'))
subway['sub_line3'] = subway['subway_line'].map(lambda x : line_distict(x, '3'))
subway['sub_lineBD'] = subway['subway_line'].map(lambda x : line_distict(x, 'BD'))
subway['sub_lineB4'] = subway['subway_line'].map(lambda x : line_distict(x, 'B4'))
subway['sub_lineDL'] = subway['subway_line'].map(lambda x : line_distict(x, 'DL'))
subway['sub_line9'] = subway['subway_line'].map(lambda x : line_distict(x, '9'))
subway['sub_lineND'] = subway['subway_line'].map(lambda x : line_distict(x, 'ND'))

subway.head(10)

subway_m1 = subway.groupby(['address_by_law']).sum().reset_index()

temp_list = ['sub_line2',
 'sub_line4',
 'sub_line1',
 'sub_lineBD',
 'sub_lineB4',
 'sub_line3',
 'sub_lineDL',
 'sub_line9',
 'sub_lineND']

for i in temp_list:
    subway_m1[i] = subway_m1[i].map(lambda x : 1 if x != 0 else 0)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 405 entries, 0 to 404
Data columns (total 5 columns):
station_id         405 non-null int64
latitude           405 non-null float64
longitude          405 non-null float64
address_by_law     396 non-null float64
transfer_subway    405 non-null int64
dtypes: float64(3), int64(2)
memory usage: 15.9 KB

In [31]:
subway_c1 = subway.groupby(['address_by_law']).count().reset_index()

In [32]:
c1 = subway_c1.iloc[:, 0:2]

In [33]:
subway_mm = pd.merge(subway_m1, c1, on='address_by_law', how='left')

In [34]:
subway_mm.head(100)

    address_by_law  station_id_x  latitude  longitude  transfer_subway  sub_line2  sub_line4  sub_line1  sub_line3  sub_lineBD  sub_lineB4  sub_lineDL  sub_line9  sub_lineND  station_id_y
0   1111010700.000            68    37.576    126.973                1          0          0          0          1           0           0           0          0           0             1
1   1111011600.000           341    37.572    126.976                1          0          0          0          0           0           0           0          0           0             1
2   1111012600.000             3    37.570    126.983                1          0          0          1          0           0           0           0          0           0             1
3   1111014100.000            69    37.577    126.985                1          0          0          0          1           0           0           0          0           0             1
4   1111015600.000             4    37.572    126.992                3          0          0          1          1           0           0           0          0           0             1
5   1111016300.000             5    37.571    127.002                1          0          0          1          0           0           0           0          0           0             1
6   1111017200.000           102    37.582    127.002                1          0          1          0          0           0           0           0          0           0             1
7   1111017400.000           381    37.580    127.015                1          0          0          0          0           0           0           0          0           0             1
8   1111017500.000            10    37.573    127.016                2          0          0          1          0           0           0           0          0           0             1
9   1114010400.000            11    37.566    126.982                1          1          0          0          0           0           0           0          0           0             1
10  1114011200.000           104    37.559    126.978                1          0          1          0          0           0           0           0          0           0             1
11  1114012000.000             1    37.556    126.972                4          0          1          1          0           0           0           0          0           0             1
12  1114012400.000           103    37.561    126.986                1          0          1          0          0           0           0           0          0           0             1
13  1114013200.000            70    37.561    126.994                2          0          1          0          1           0           0           0          0           0             1
14  1114014400.000            71    37.559    127.005                1          0          0          0          1           0           0           0          0           0             1
15  1114014900.000            14    37.565    127.008                3          1          1          0          0           0           0           0          0           0             1
16  1114015000.000            13    37.567    126.998                2          1          0          0          0           0           0           0          0           0             1
17  1114015500.000            12    37.566    126.991                2          1          0          0          1           0           0           0          0           0             1
18  1114016200.000           467   112.668    381.034                5          1          0          0          1           0           0           0          0           0             3
19  1114016700.000             2    37.566    126.977                2          1          0          1          0           0           0           0          0           0             1
20  1114017000.000           340    37.566    126.967                1          0          0          0          0           0           0           0          0           0             1
21  1117010300.000           377    37.535    126.987                1          0          0          0          0           0           0           0          0           0             1
22  1117010400.000           217    75.087    253.943                2          0          1          1          0           0           0           0          0           0             2
23  1117011900.000           376    37.539    126.961                2          0          0          0          0           0           0           0          0           0             1
24  1117012400.000           106    37.535    126.974                2          0          1          0          0           0           0           0          0           0             1
25  1117012500.000           107    37.529    126.968                1          0          1          0          0           0           0           0          0           0             1
26  1117012700.000           108    37.523    126.974                2          0          1          0          0           0           0           0          0           0             1
27  1117012800.000           113    37.530    126.964                2          0          0          1          0           0           0           0          0           0             1
28  1117013000.000           378    37.534    126.994                1          0          0          0          0           0           0           0          0           0             1
29  1117013100.000           497    75.069    254.010                2          0          0          0          0           0           0           0          0           0             2
30  1117013300.000           117    37.519    126.988                1          0          0          0          0           0           0           0          0           0             1
31  1120010300.000            16    37.565    127.030                1          1          0          0          0           0           0           0          0           0             1
32  1120010500.000           345    37.566    127.043                1          0          0          0          0           0           0           0          0           0             1
33  1120010600.000            53    37.562    127.051                1          1          0          0          0           0           0           0          0           0             1
34  1120010700.000           379   112.674    381.111                6          1          0          0          0           0           0           1          0           0             3
35  1120010800.000           119    37.550    127.035                1          0          0          0          0           0           0           0          0           0             1
36  1120011000.000           343    37.554    127.021                1          0          0          0          0           0           0           0          0           0             1
37  1120011200.000            73    37.548    127.016                1          0          0          0          1           0           0           0          0           0             1
38  1120011300.000            74    37.540    127.018                2          0          0          0          1           0           0           0          0           0             1
39  1120011400.000           287    75.091    254.092                2          1          0          0          0           0           0           1          0           0             2
40  1120011500.000            20    37.545    127.056                1          1          0          0          0           0           0           0          0           0             1
41  1120012200.000           400    75.136    254.100                2          1          0          0          0           0           0           0          0           0             2
42  1121510100.000           402    37.566    127.084                1          0          0          0          0           0           0           0          0           0             1
43  1121510200.000          1100   112.657    381.244                4          0          0          0          0           0           0           0          0           0             3
44  1121510300.000            23    37.535    127.095                1          1          0          0          0           0           0           0          0           0             1
45  1121510400.000           350    37.545    127.104                1          0          0          0          0           0           0           0          0           0             1
46  1121510500.000           447   112.609    381.224                4          1          0          0          0           0           0           0          0           0             3
47  1123010100.000             7    37.576    127.025                3          1          0          1          0           0           0           0          0           0             1
48  1123010200.000            58    37.574    127.038                1          1          0          0          0           0           0           0          0           0             1
49  1123010300.000             8    37.578    127.035                1          0          0          1          0           0           0           0          0           0             1
50  1123010600.000           347    37.561    127.064                1          0          0          0          0           0           0           0          0           0             1
51  1123010700.000             9    37.580    127.044                3          0          0          1          0           0           0           0          0           0             1
52  1123010900.000           120    37.590    127.058                3          0          0          1          0           0           0           0          0           0             1
53  1123011000.000           243    75.198    254.131                2          0          0          1          0           0           0           0          0           0             2
54  1126010100.000          1200   112.744    381.262                3          0          0          0          0           0           0           0          0           0             3
55  1126010200.000           134    37.597    127.085                3          0          0          0          0           0           0           0          0           0             1
56  1126010300.000           531    75.198    254.155                3          0          0          0          0           0           0           0          0           0             2
57  1126010400.000           397    37.611    127.078                1          0          0          0          0           0           0           0          0           0             1
58  1126010500.000          1160    75.219    254.211                2          0          0          0          0           0           0           0          0           0             2
59  1126010600.000           390    37.617    127.091                1          0          0          0          0           0           0           0          0           0             1
60  1129011100.000           101    37.588    127.006                1          0          1          0          0           0           0           0          0           0             1
61  1129011900.000           100    37.593    127.016                2          0          1          0          0           0           0           0          0           0             1
62  1129012500.000           383    37.586    127.029                1          0          0          0          0           0           0           0          0           0             1
63  1129013000.000           382    37.585    127.019                2          0          0          0          0           0           0           0          0           0             1
64  1129013400.000            99    37.604    127.025                1          0          1          0          0           0           0           0          0           0             1
65  1129013500.000           384    37.590    127.036                1          0          0          0          0           0           0           0          0           0             1
66  1129013600.000           385    37.602    127.041                1          0          0          0          0           0           0           0          0           0             1
67  1129013700.000           386    37.606    127.048                1          0          0          0          0           0           0           0          0           0             1
68  1129013900.000           387    37.611    127.057                1          0          0          0          0           0           0           0          0           0             1
69  1130510100.000           195    75.240    254.056                2          0          1          0          0           0           0           0          0           0             2
70  1130510200.000            96    37.638    127.026                1          0          1          0          0           0           0           0          0           0             1
71  1132010600.000           299    37.667    127.044                1          0          0          1          0           0           0           0          0           0             1
72  1132010700.000           315   112.946    381.133                4          0          1          1          0           0           0           0          0           0             3
73  1132010800.000           301    37.690    127.046                2          0          0          1          0           0           0           0          0           0             1
74  1135010200.000           372   112.872    381.187                4          0          0          1          0           0           0           0          0           0             3
75  1135010300.000          1173   112.864    381.233                4          0          0          0          0           0           0           0          0           0             3
76  1135010400.000           395    37.636    127.068                1          0          0          0          0           0           0           0          0           0             1
77  1135010500.000          1061   188.330    635.330                6          0          1          0          0           0           0           0          0           0             5
78  1135010600.000           394    37.645    127.064                1          0          0          0          0           0           0           0          0           0             1
79  1138010100.000           315    75.159    253.796                4          0          0          0          0           0           0           0          0           0             2
80  1138010200.000           429    75.207    253.858                2          0          0          0          1           0           0           0          0           0             2
81  1138010300.000           491   112.848    380.784                5          0          0          0          1           0           0           0          0           0             3
82  1138010500.000           367    37.611    126.917                1          0          0          0          0           0           0           0          0           0             1
83  1138010900.000           732    75.190    253.829                2          0          0          0          0           0           0           0          0           0             2
84  1138011000.000           369    37.584    126.909                1          0          0          0          0           0           0           0          0           0             1
85  1138011400.000            61    37.637    126.919                1          0          0          0          1           0           0           0          0           0             1
86  1141010200.000            52    37.560    126.963                2          1          0          0          0           0           0           0          0           0             1
87  1141010900.000            67    37.574    126.958                1          0          0          0          1           0           0           0          0           0             1
88  1141011000.000            51    37.558    126.956                1          1          0          0          0           0           0           0          0           0             1
89  1141011100.000           131    75.171    253.894                2          0          0          0          1           0           0           0          0           0             2
90  1141011400.000           153    37.560    126.942                1          0          0          0          0           0           0           0          0           0             1
91  1141011600.000            49    37.555    126.937                1          1          0          0          0           0           0           0          0           0             1
92  1141012000.000           156    37.568    126.916                1          0          0          0          0           0           0           0          0           0             1
93  1144010100.000           339    37.553    126.957                1          0          0          0          0           0           0           0          0           0             1
94  1144010400.000           492    75.083    253.897                5          0          0          0          0           0           0           0          0           0             2
95  1144010800.000           425    75.104    253.888                2          1          0          0          0           0           0           0          0           0             2
96  1144011100.000           155    37.551    126.936                1          0          0          0          0           0           0           0          0           0             1
97  1144011400.000           374    37.547    126.932                1          0          0          0          0           0           0           0          0           0             1
98  1144011500.000           373    37.548    126.923                1          0          0          0          0           0           0           0          0           0             1
99  1144012000.000            47    37.550    126.914                2          1          0          0          0           0           0           0          0           0             1

In [35]:
subway_mm['mean_latitude']  = subway_mm['latitude'] / subway_mm['station_id_y']
subway_mm['mean_longitude']  = subway_mm['longitude'] / subway_mm['station_id_y']

In [36]:
trr = subway_mm.columns.tolist()

In [37]:
subway_final = subway_mm.drop(columns=['station_id_x','longitude','latitude',])
subway_final=subway_final.rename(columns={'station_id_y' : 'num_subways'})

In [38]:
temp = all_data.copy()

In [39]:
all_data = pd.merge(all_data, subway_final, on='address_by_law', how='left')

In [40]:
all_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1583201 entries, 0 to 1583200
Data columns (total 44 columns):
key                                   1583201 non-null int64
apartment_id                          1583201 non-null int64
city                                  1583201 non-null int64
transaction_year_month                1583201 non-null int64
transaction_date                      1583201 non-null object
year_of_completion                    1583201 non-null int64
exclusive_use_area                    1583201 non-null float64
floor                                 1583201 non-null int64
latitude                              1583201 non-null float64
longitude                             1583201 non-null float64
address_by_law                        1583201 non-null int64
total_parking_capacity_in_site        1496170 non-null float64
total_household_count_in_sites        1583201 non-null int64
apartment_building_count_in_sites     1583201 non-null int64
tallest_building_in_sites             1583191 non-null float64
lowest_building_in_sites              1583191 non-null float64
heat_type                             1581156 non-null object
heat_fuel                             1573490 non-null object
room_id                               1583201 non-null int64
supply_area                           1583201 non-null float64
total_household_count_of_area_type    1583201 non-null int64
room_count                            1582505 non-null float64
bathroom_count                        1582505 non-null float64
front_door_structure                  1569275 non-null object
transaction_real_price                1583201 non-null int64
is_train                              1583201 non-null bool
elementary                            1540674 non-null float64
private                               1540674 non-null float64
num_schools                           1540674 non-null float64
mean_latitude_x                       1540674 non-null float64
mean_longitude_x                      1540674 non-null float64
transfer_subway                       1219337 non-null float64
sub_line2                             1219337 non-null float64
sub_line4                             1219337 non-null float64
sub_line1                             1219337 non-null float64
sub_line3                             1219337 non-null float64
sub_lineBD                            1219337 non-null float64
sub_lineB4                            1219337 non-null float64
sub_lineDL                            1219337 non-null float64
sub_line9                             1219337 non-null float64
sub_lineND                            1219337 non-null float64
num_subways                           1219337 non-null float64
mean_latitude_y                       1219337 non-null float64
mean_longitude_y                      1219337 non-null float64
dtypes: bool(1), float64(27), int64(12), object(4)
memory usage: 533.0+ MB

# Feature Engneering

### 1. Split the year and month of transaction

In [41]:
all_data['transcation_year'] = all_data['transaction_year_month'].map(lambda x : int(str(x)[:4]))
all_data['transcation_month'] = all_data['transaction_year_month'].map(lambda x : int(str(x)[4:]))

### 2. Rename columns

In [42]:
all_data = all_data.rename(columns={'mean_latitude_x' : 'mean_latitude_schools','mean_longitude_x':'mean_longitude_schools','mean_latitude_y' : 'mean_latitude_subways','mean_longitude_y':'mean_longitude_subways',})

In [43]:
all_data.drop(columns=['transaction_year_month'], inplace=True)

In [44]:
all_data.head()

   key  apartment_id  city transaction_date  year_of_completion  exclusive_use_area  floor  latitude  longitude  address_by_law  total_parking_capacity_in_site  total_household_count_in_sites  apartment_building_count_in_sites  tallest_building_in_sites  lowest_building_in_sites   heat_type heat_fuel  room_id  supply_area  total_household_count_of_area_type  room_count  bathroom_count front_door_structure  transaction_real_price  is_train  elementary  private  num_schools  mean_latitude_schools  mean_longitude_schools  transfer_subway  sub_line2  sub_line4  sub_line1  sub_line3  sub_lineBD  sub_lineB4  sub_lineDL  sub_line9  sub_lineND  num_subways  mean_latitude_subways  mean_longitude_subways  transcation_year  transcation_month
0    0          5584     1            11~20                1999              47.430      6    37.586    127.000      1111017100                         163.000                             136                                  1                      8.000                     4.000  individual       gas    91120       65.630                                  46       1.000           1.000             corridor               215000000      True         nan      nan          nan                    nan                     nan              nan        nan        nan        nan        nan         nan         nan         nan        nan         nan          nan                    nan                     nan              2006                  1
1    1          5584     1            11~20                1999              44.370      8    37.586    127.000      1111017100                         163.000                             136                                  1                      8.000                     4.000  individual       gas    91119       61.390                                  10       2.000           1.000             corridor               200000000      True         nan      nan          nan                    nan                     nan              nan        nan        nan        nan        nan         nan         nan         nan        nan         nan          nan                    nan                     nan              2006                  1
2    2          5059     1            11~20                1992              54.700      8    37.581    127.014      1111017400                         902.000                             585                                  5                     14.000                     9.000  individual       gas     8430       72.360                                 201       2.000           1.000             corridor               168000000      True       2.000    1.000        3.000                 37.579                 127.014            1.000      0.000      0.000      0.000      0.000       0.000       0.000       0.000      0.000       0.000        1.000                 37.580                 127.015              2006                  1
3    3          2816     1            11~20                1993              64.660     11    37.580    127.012      1111017400                         902.000                             919                                  7                     15.000                    11.000  individual       gas     5839       87.300                                 284       2.000           1.000             corridor               165000000      True       2.000    1.000        3.000                 37.579                 127.014            1.000      0.000      0.000      0.000      0.000       0.000       0.000       0.000      0.000       0.000        1.000                 37.580                 127.015              2006                  1
4    4          2816     1            11~20                1993             106.620      7    37.580    127.012      1111017400                         902.000                             919                                  7                     15.000                    11.000  individual       gas     5836      127.740                                 112       4.000           2.000             stairway               280000000      True       2.000    1.000        3.000                 37.579                 127.014            1.000      0.000      0.000      0.000      0.000       0.000       0.000       0.000      0.000       0.000        1.000                 37.580                 127.015              2006                  1

### 3. Labelling transaction date to 1, 2, 3,

In [45]:
all_data['transaction_date'].unique()

array(['11~20', '1~10', '21~31', '21~28', '21~30', '21~29'], dtype=object)

In [46]:
data_map = {'1~10':1,'11~20':2,'21~31':3, '21~28':3, '21~30':3, '21~29':3}

In [47]:
all_data['transaction_date'] = all_data['transaction_date'].map(data_map)

In [48]:
all_data.head()

   key  apartment_id  city  transaction_date  year_of_completion  exclusive_use_area  floor  latitude  longitude  address_by_law  total_parking_capacity_in_site  total_household_count_in_sites  apartment_building_count_in_sites  tallest_building_in_sites  lowest_building_in_sites   heat_type heat_fuel  room_id  supply_area  total_household_count_of_area_type  room_count  bathroom_count front_door_structure  transaction_real_price  is_train  elementary  private  num_schools  mean_latitude_schools  mean_longitude_schools  transfer_subway  sub_line2  sub_line4  sub_line1  sub_line3  sub_lineBD  sub_lineB4  sub_lineDL  sub_line9  sub_lineND  num_subways  mean_latitude_subways  mean_longitude_subways  transcation_year  transcation_month
0    0          5584     1                 2                1999              47.430      6    37.586    127.000      1111017100                         163.000                             136                                  1                      8.000                     4.000  individual       gas    91120       65.630                                  46       1.000           1.000             corridor               215000000      True         nan      nan          nan                    nan                     nan              nan        nan        nan        nan        nan         nan         nan         nan        nan         nan          nan                    nan                     nan              2006                  1
1    1          5584     1                 2                1999              44.370      8    37.586    127.000      1111017100                         163.000                             136                                  1                      8.000                     4.000  individual       gas    91119       61.390                                  10       2.000           1.000             corridor               200000000      True         nan      nan          nan                    nan                     nan              nan        nan        nan        nan        nan         nan         nan         nan        nan         nan          nan                    nan                     nan              2006                  1
2    2          5059     1                 2                1992              54.700      8    37.581    127.014      1111017400                         902.000                             585                                  5                     14.000                     9.000  individual       gas     8430       72.360                                 201       2.000           1.000             corridor               168000000      True       2.000    1.000        3.000                 37.579                 127.014            1.000      0.000      0.000      0.000      0.000       0.000       0.000       0.000      0.000       0.000        1.000                 37.580                 127.015              2006                  1
3    3          2816     1                 2                1993              64.660     11    37.580    127.012      1111017400                         902.000                             919                                  7                     15.000                    11.000  individual       gas     5839       87.300                                 284       2.000           1.000             corridor               165000000      True       2.000    1.000        3.000                 37.579                 127.014            1.000      0.000      0.000      0.000      0.000       0.000       0.000       0.000      0.000       0.000        1.000                 37.580                 127.015              2006                  1
4    4          2816     1                 2                1993             106.620      7    37.580    127.012      1111017400                         902.000                             919                                  7                     15.000                    11.000  individual       gas     5836      127.740                                 112       4.000           2.000             stairway               280000000      True       2.000    1.000        3.000                 37.579                 127.014            1.000      0.000      0.000      0.000      0.000       0.000       0.000       0.000      0.000       0.000        1.000                 37.580                 127.015              2006                  1

In [49]:
all_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1583201 entries, 0 to 1583200
Data columns (total 45 columns):
key                                   1583201 non-null int64
apartment_id                          1583201 non-null int64
city                                  1583201 non-null int64
transaction_date                      1583201 non-null int64
year_of_completion                    1583201 non-null int64
exclusive_use_area                    1583201 non-null float64
floor                                 1583201 non-null int64
latitude                              1583201 non-null float64
longitude                             1583201 non-null float64
address_by_law                        1583201 non-null int64
total_parking_capacity_in_site        1496170 non-null float64
total_household_count_in_sites        1583201 non-null int64
apartment_building_count_in_sites     1583201 non-null int64
tallest_building_in_sites             1583191 non-null float64
lowest_building_in_sites              1583191 non-null float64
heat_type                             1581156 non-null object
heat_fuel                             1573490 non-null object
room_id                               1583201 non-null int64
supply_area                           1583201 non-null float64
total_household_count_of_area_type    1583201 non-null int64
room_count                            1582505 non-null float64
bathroom_count                        1582505 non-null float64
front_door_structure                  1569275 non-null object
transaction_real_price                1583201 non-null int64
is_train                              1583201 non-null bool
elementary                            1540674 non-null float64
private                               1540674 non-null float64
num_schools                           1540674 non-null float64
mean_latitude_schools                 1540674 non-null float64
mean_longitude_schools                1540674 non-null float64
transfer_subway                       1219337 non-null float64
sub_line2                             1219337 non-null float64
sub_line4                             1219337 non-null float64
sub_line1                             1219337 non-null float64
sub_line3                             1219337 non-null float64
sub_lineBD                            1219337 non-null float64
sub_lineB4                            1219337 non-null float64
sub_lineDL                            1219337 non-null float64
sub_line9                             1219337 non-null float64
sub_lineND                            1219337 non-null float64
num_subways                           1219337 non-null float64
mean_latitude_subways                 1219337 non-null float64
mean_longitude_subways                1219337 non-null float64
transcation_year                      1583201 non-null int64
transcation_month                     1583201 non-null int64
dtypes: bool(1), float64(27), int64(14), object(3)
memory usage: 545.1+ MB

# Missing Values

In [50]:
all_data.isnull().sum()

key                                        0
apartment_id                               0
city                                       0
transaction_date                           0
year_of_completion                         0
exclusive_use_area                         0
floor                                      0
latitude                                   0
longitude                                  0
address_by_law                             0
total_parking_capacity_in_site         87031
total_household_count_in_sites             0
apartment_building_count_in_sites          0
tallest_building_in_sites                 10
lowest_building_in_sites                  10
heat_type                               2045
heat_fuel                               9711
room_id                                    0
supply_area                                0
total_household_count_of_area_type         0
room_count                               696
bathroom_count                           696
front_door_structure                   13926
transaction_real_price                     0
is_train                                   0
elementary                             42527
private                                42527
num_schools                            42527
mean_latitude_schools                  42527
mean_longitude_schools                 42527
transfer_subway                       363864
sub_line2                             363864
sub_line4                             363864
sub_line1                             363864
sub_line3                             363864
sub_lineBD                            363864
sub_lineB4                            363864
sub_lineDL                            363864
sub_line9                             363864
sub_lineND                            363864
num_subways                           363864
mean_latitude_subways                 363864
mean_longitude_subways                363864
transcation_year                           0
transcation_month                          0
dtype: int64

In [51]:
all_data.head(10)

   key  apartment_id  city  transaction_date  year_of_completion  exclusive_use_area  floor  latitude  longitude  address_by_law  total_parking_capacity_in_site  total_household_count_in_sites  apartment_building_count_in_sites  tallest_building_in_sites  lowest_building_in_sites   heat_type heat_fuel  room_id  supply_area  total_household_count_of_area_type  room_count  bathroom_count front_door_structure  transaction_real_price  is_train  elementary  private  num_schools  mean_latitude_schools  mean_longitude_schools  transfer_subway  sub_line2  sub_line4  sub_line1  sub_line3  sub_lineBD  sub_lineB4  sub_lineDL  sub_line9  sub_lineND  num_subways  mean_latitude_subways  mean_longitude_subways  transcation_year  transcation_month
0    0          5584     1                 2                1999              47.430      6    37.586    127.000      1111017100                         163.000                             136                                  1                      8.000                     4.000  individual       gas    91120       65.630                                  46       1.000           1.000             corridor               215000000      True         nan      nan          nan                    nan                     nan              nan        nan        nan        nan        nan         nan         nan         nan        nan         nan          nan                    nan                     nan              2006                  1
1    1          5584     1                 2                1999              44.370      8    37.586    127.000      1111017100                         163.000                             136                                  1                      8.000                     4.000  individual       gas    91119       61.390                                  10       2.000           1.000             corridor               200000000      True         nan      nan          nan                    nan                     nan              nan        nan        nan        nan        nan         nan         nan         nan        nan         nan          nan                    nan                     nan              2006                  1
2    2          5059     1                 2                1992              54.700      8    37.581    127.014      1111017400                         902.000                             585                                  5                     14.000                     9.000  individual       gas     8430       72.360                                 201       2.000           1.000             corridor               168000000      True       2.000    1.000        3.000                 37.579                 127.014            1.000      0.000      0.000      0.000      0.000       0.000       0.000       0.000      0.000       0.000        1.000                 37.580                 127.015              2006                  1
3    3          2816     1                 2                1993              64.660     11    37.580    127.012      1111017400                         902.000                             919                                  7                     15.000                    11.000  individual       gas     5839       87.300                                 284       2.000           1.000             corridor               165000000      True       2.000    1.000        3.000                 37.579                 127.014            1.000      0.000      0.000      0.000      0.000       0.000       0.000       0.000      0.000       0.000        1.000                 37.580                 127.015              2006                  1
4    4          2816     1                 2                1993             106.620      7    37.580    127.012      1111017400                         902.000                             919                                  7                     15.000                    11.000  individual       gas     5836      127.740                                 112       4.000           2.000             stairway               280000000      True       2.000    1.000        3.000                 37.579                 127.014            1.000      0.000      0.000      0.000      0.000       0.000       0.000       0.000      0.000       0.000        1.000                 37.580                 127.015              2006                  1
5    5          2815     1                 2                2000              84.920      9    37.575    126.961      1111018700                        1365.000                             964                                 12                     23.000                    10.000  individual       gas     5831      109.880                                 454       3.000           2.000             stairway               415000000      True       1.000    0.000        1.000                 37.574                 126.960              nan        nan        nan        nan        nan         nan         nan         nan        nan         nan          nan                    nan                     nan              2006                  1
6    6          2815     1                 2                2000              60.000     13    37.575    126.961      1111018700                        1365.000                             964                                 12                     23.000                    10.000  individual       gas     5833       84.330                                 207       3.000           1.000             corridor               267000000      True       1.000    0.000        1.000                 37.574                 126.960              nan        nan        nan        nan        nan         nan         nan         nan        nan         nan          nan                    nan                     nan              2006                  1
7    7          9867     1                 2                2005              84.760     10    37.559    127.020      1114016200                         652.000                             461                                  9                     23.000                     6.000  individual       gas    11862      104.300                                  82       3.000           2.000             stairway               415000000      True       6.000    7.000       16.000                 37.560                 127.014            5.000      1.000      0.000      0.000      1.000       0.000       0.000       0.000      0.000       0.000        3.000                 37.556                 127.011              2006                  1
8    8          2818     1                 2                1999              84.880     18    37.555    127.014      1114016200                        2091.000                            2282                                 19                     20.000                     8.000  individual       gas     5843      107.650                                 576       3.000           2.000             stairway               310000000      True       6.000    7.000       16.000                 37.560                 127.014            5.000      1.000      0.000      0.000      1.000       0.000       0.000       0.000      0.000       0.000        3.000                 37.556                 127.011              2006                  1
9    9          2817     1                 2                2002              59.940     12    37.550    127.009      1114016200                        4329.000                            5150                                 42                     18.000                    11.000  individual       gas     5842       85.900                                 864       3.000           1.000             corridor               319000000      True       6.000    7.000       16.000                 37.560                 127.014            5.000      1.000      0.000      0.000      1.000       0.000       0.000       0.000      0.000       0.000        3.000                 37.556                 127.011              2006                  1

In [52]:
all_data.to_csv('./csv/190127_dataset.csv', index=False)

In [53]:
a_sub =all_data['mean_latitude_schools'].dropna()
print(max(a_sub))
b_scho =all_data['mean_longitude_schools'].dropna()
print(max(b_scho))

all_data['mean_latitude_schools'] = all_data['mean_latitude_schools'].fillna(max(a_sub)+0.1)
all_data['mean_longitude_schools'] = all_data['mean_longitude_schools'].fillna(max(b_scho)+0.1)

37.681620091666666
129.226985

In [54]:
a_sub =all_data['mean_latitude_subways'].dropna()
print(max(a_sub))
b_scho =all_data['mean_longitude_subways'].dropna()
print(max(b_scho))

all_data['mean_latitude_subways'] = all_data['mean_latitude_subways'].fillna(max(a_sub)+0.1)
all_data['mean_longitude_subways'] = all_data['mean_longitude_subways'].fillna(max(b_scho)+0.1)

37.68984604
129.20236210000002

In [55]:
train = all_data[all_data['is_train'] == True]

In [61]:
all_data.isnull().sum()

all_data['total_parking_capacity_in_site'] = all_data['total_parking_capacity_in_site'].fillna(0)
all_data['num_schools'] = all_data['num_schools'].fillna(0)
all_data['num_subways'] = all_data['num_subways'].fillna(0)
all_data['transfer_subway'] = all_data['transfer_subway'].fillna(0)

all_data.isnull().sum()

all_data['elementary'] = all_data['elementary'].fillna(0)
all_data['private'] = all_data['private'].fillna(0)

all_data.isnull().sum()

fill_mode = ['tallest_building_in_sites','lowest_building_in_sites','heat_type','heat_fuel','room_count','bathroom_count','front_door_structure']
for i in fill_mode:
    all_data[i] = all_data[i].fillna(all_data[i].mode()[0])

ssan_zip = all_data[all_data['transaction_real_price'] < 100000000]

fill_la_long = ['mean']


sub_arr = []
for i in list(all_data.columns):
    if i[:3] == 'sub':
        sub_arr.append(i)

for i in sub_arr:
    all_data[i] = all_data[i].fillna(0)

In [62]:
all_data = all_data.fillna(0)

all_data['address_by_law'] = all_data['address_by_law'].map(lambda x : str(x)[:6])
all_data.head()

   key  apartment_id  city  transaction_date  year_of_completion  exclusive_use_area  floor  latitude  longitude address_by_law  total_parking_capacity_in_site  total_household_count_in_sites  apartment_building_count_in_sites  tallest_building_in_sites  lowest_building_in_sites   heat_type heat_fuel  room_id  supply_area  total_household_count_of_area_type  room_count  bathroom_count front_door_structure  transaction_real_price  is_train  elementary  private  num_schools  mean_latitude_schools  mean_longitude_schools  transfer_subway  sub_line2  sub_line4  sub_line1  sub_line3  sub_lineBD  sub_lineB4  sub_lineDL  sub_line9  sub_lineND  num_subways  mean_latitude_subways  mean_longitude_subways  transcation_year  transcation_month
0    0          5584     1                 2                1999              47.430      6    37.586    127.000         111101                         163.000                             136                                  1                      8.000                     4.000  individual       gas    91120       65.630                                  46       1.000           1.000             corridor               215000000      True       0.000    0.000        0.000                 37.782                 129.327            0.000      0.000      0.000      0.000      0.000       0.000       0.000       0.000      0.000       0.000        0.000                 37.790                 129.302              2006                  1
1    1          5584     1                 2                1999              44.370      8    37.586    127.000         111101                         163.000                             136                                  1                      8.000                     4.000  individual       gas    91119       61.390                                  10       2.000           1.000             corridor               200000000      True       0.000    0.000        0.000                 37.782                 129.327            0.000      0.000      0.000      0.000      0.000       0.000       0.000       0.000      0.000       0.000        0.000                 37.790                 129.302              2006                  1
2    2          5059     1                 2                1992              54.700      8    37.581    127.014         111101                         902.000                             585                                  5                     14.000                     9.000  individual       gas     8430       72.360                                 201       2.000           1.000             corridor               168000000      True       2.000    1.000        3.000                 37.579                 127.014            1.000      0.000      0.000      0.000      0.000       0.000       0.000       0.000      0.000       0.000        1.000                 37.580                 127.015              2006                  1
3    3          2816     1                 2                1993              64.660     11    37.580    127.012         111101                         902.000                             919                                  7                     15.000                    11.000  individual       gas     5839       87.300                                 284       2.000           1.000             corridor               165000000      True       2.000    1.000        3.000                 37.579                 127.014            1.000      0.000      0.000      0.000      0.000       0.000       0.000       0.000      0.000       0.000        1.000                 37.580                 127.015              2006                  1
4    4          2816     1                 2                1993             106.620      7    37.580    127.012         111101                         902.000                             919                                  7                     15.000                    11.000  individual       gas     5836      127.740                                 112       4.000           2.000             stairway               280000000      True       2.000    1.000        3.000                 37.579                 127.014            1.000      0.000      0.000      0.000      0.000       0.000       0.000       0.000      0.000       0.000        1.000                 37.580                 127.015              2006                  1

In [63]:
all_data.isnull().sum().sum()

0

In [70]:
all_data['transaction_real_price'] =np.log(all_data['transaction_real_price'])

/home/pirl/anaconda3/envs/py36/lib/python3.6/site-packages/ipykernel_launcher.py:1: RuntimeWarning: divide by zero encountered in log
  """Entry point for launching an IPython kernel.

# Modeling

In [64]:
all_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1583201 entries, 0 to 1583200
Data columns (total 45 columns):
key                                   1583201 non-null int64
apartment_id                          1583201 non-null int64
city                                  1583201 non-null int64
transaction_date                      1583201 non-null int64
year_of_completion                    1583201 non-null int64
exclusive_use_area                    1583201 non-null float64
floor                                 1583201 non-null int64
latitude                              1583201 non-null float64
longitude                             1583201 non-null float64
address_by_law                        1583201 non-null object
total_parking_capacity_in_site        1583201 non-null float64
total_household_count_in_sites        1583201 non-null int64
apartment_building_count_in_sites     1583201 non-null int64
tallest_building_in_sites             1583201 non-null float64
lowest_building_in_sites              1583201 non-null float64
heat_type                             1583201 non-null object
heat_fuel                             1583201 non-null object
room_id                               1583201 non-null int64
supply_area                           1583201 non-null float64
total_household_count_of_area_type    1583201 non-null int64
room_count                            1583201 non-null float64
bathroom_count                        1583201 non-null float64
front_door_structure                  1583201 non-null object
transaction_real_price                1583201 non-null int64
is_train                              1583201 non-null bool
elementary                            1583201 non-null float64
private                               1583201 non-null float64
num_schools                           1583201 non-null float64
mean_latitude_schools                 1583201 non-null float64
mean_longitude_schools                1583201 non-null float64
transfer_subway                       1583201 non-null float64
sub_line2                             1583201 non-null float64
sub_line4                             1583201 non-null float64
sub_line1                             1583201 non-null float64
sub_line3                             1583201 non-null float64
sub_lineBD                            1583201 non-null float64
sub_lineB4                            1583201 non-null float64
sub_lineDL                            1583201 non-null float64
sub_line9                             1583201 non-null float64
sub_lineND                            1583201 non-null float64
num_subways                           1583201 non-null float64
mean_latitude_subways                 1583201 non-null float64
mean_longitude_subways                1583201 non-null float64
transcation_year                      1583201 non-null int64
transcation_month                     1583201 non-null int64
dtypes: bool(1), float64(27), int64(13), object(4)
memory usage: 545.1+ MB

In [65]:
all_data = all_data.drop(['key'],axis =1)
train = all_data[all_data['is_train']==True]
test = all_data[all_data['is_train']!=True]

In [67]:
print(all_data.shape)
print(train.shape)
print(test.shape)

(1583201, 44)
(1579283, 44)
(3918, 44)

In [68]:
train = train.drop('is_train', axis=1)
test = test.drop('is_train', axis=1)

In [69]:
from sklearn.ensemble import GradientBoostingRegressor
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import train_test_split

X = train.drop(columns=['transaction_real_price'])
y = train['transaction_real_price']

## Train set 예측
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.30, random_state=42)
print(X_train.shape)
print(y_train.shape)
print(X_test.shape)
print(y_test.shape)

(1105498, 42)
(1105498,)
(473785, 42)
(473785,)

In [ ]:
#모델 선언
rf = RandomForestRegressor(n_estimators=1000, n_jobs=-1)

In [ ]:

# Fitting the model
print(datetime.today())       #현재 날짜 가져오기
start_vect=time.time()
#===============================================================
rf.fit(X_train, y_train)
#===============================================================
print("training Runtime: %0.2f Minutes"%((time.time() - start_vect)/60))

In [ ]:
print(datetime.today())            # 현재 날짜 가져오기

from sklearn.metrics import mean_squared_error

mse = mean_squared_error(np.expm1(y_pred), np.exp(y_test))

print('MSE : {:,.6f}'.format(mse))